/* スタイルシート全体の設定 */
:root {
    --bg-base: #181A20;
    --area-bg: #1E222A;
    --card-bg: #282D37;
    --label-color: #e5e5e5;
    --font-color: #f0f0f0;
    --form-border: 1px solid #a0a0a0;
    --memo-red: #ffcccc;
    --memo-blue: #cce5ff;
    --memo-green: #e5ffcc;
    --memo-yellow: #ffffcc;
    --memo-text: #2a2a2a;
}
body {
    color: var(--font-color);
    background-color: var(--bg-base);
}

/* カンバンボードのスタイル */
#kanban-board {
    display: flex;
    gap: 16px;
}

/* ボードカラムのスタイル */
.kanban-column {
    background-color: var(--area-bg);
    border-radius: 8px;
    padding: 16px;
    flex: 1;
}

/* ボードカラム内のリストのスタイル */
.kanban-column ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* タスクカードのスタイル */
.kanban-column li {
    background-color: var(--card-bg);
    border-radius: 8px;
    padding: 16px;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    display: flex;
}
}

/* 新しいタスク追加フォームのスタイル */
#new-task-form {
    background-color: var(--area-bg);
    display: flex;
    gap: 16px;
}
/* フォーム内共通のスタイル */
.form-group {
    display: flex;
    flex-direction: column;
}

/* フォーム左側のスタイル */
.form-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 3;
}
/* フォーム右側のスタイル */
.form-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

/* フォーム内のラベルのスタイル */
.form-group label {
    color: var(--label-color);
}

/* フォーム内の入力フィールドのスタイル */
.form-group input,
.form-group textarea {
    background-color: var(--card-bg);
    border: var(--form-border);
    border-radius: 4px;
    padding: 8px;
    color: var(--font-color);
    width: 100%;
    box-sizing: border-box;
}

.form-group select {
    width: 50%;
    background-color: var(--card-bg);
    border: var(--form-border);
    border-radius: 4px;
    padding: 8px;
    color: var(--font-color);
    box-sizing: border-box;
}

/* フォーム内のボタンのスタイル */
.form-buttons {
    display: flex;
    gap: 8px;
}

/* 追加ボタンのスタイル */
#add-task {
    display: flex;
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
    background-color: #28a745;
    color: #fff;
    font-weight: 400;
    justify-content: center;
    padding: 8px 16px;
}
/* 追加ボタンのホバー時のスタイル */
#add-task:hover {
    background-color: #189735;
}
/* クリアボタンのスタイル */
#clear-tasks {
    display: flex;
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
    background-color: #dc3545;
    color: #fff;
    font-weight: 400;
    justify-content: center;
    padding: 8px 16px;
}
/* クリアボタンのホバー時のスタイル */
#clear-tasks:hover {
    background-color: #c82333;
}



/* メモエリアのスタイル */

/* メモリストのスタイル */
#memo-list {
    background-color: var(--area-bg);
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;

}

/* メモアイテムのスタイル */
.memo-card {
    background-color: var(--card-bg);
    border-radius: 8px;
    padding: 8px;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    aspect-ratio: 1 / 1;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* メモ作成日のスタイル */
.memo-created-at {
    font-size: 12px;
    color: var(--memo-text);
    align-self: flex-end;
}

.memo-red {
    background-color: var(--memo-red);
    color: var(--memo-text);
}
.memo-blue {
    background-color: var(--memo-blue);
    color: var(--memo-text);
}
.memo-green {
    background-color: var(--memo-green);
    color: var(--memo-text);
}
.memo-yellow {
    background-color: var(--memo-yellow);
    color: var(--memo-text);
}

/* メモ追加フォームのスタイル */
.memo-form {
    display: flex;
    gap: 8px;
}

.memo-form textarea {
    background-color: var(--card-bg);
    border: var(--form-border);
    border-radius: 4px;
    padding: 8px;
    color: var(--font-color);
    width: 230px;
    height: 230px;
    box-sizing: border-box;
}

#add-memo {
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
    background-color: #28a745;
    color: #fff;
    font-weight: 400;
    width: 80px;
    height: 30px;
}
#add-memo:hover {
    background-color: #189735;
}